In [70]:
import pandas as pd
import numpy as np
import glob
import os
path = r"C:\Users\Administrator\Dropbox\Metabolism"

In [71]:
clinical_information = pd.read_csv(r"C:\Users\Administrator\Dropbox\Metabolism\clinical information.csv", encoding='utf-8')
miR = pd.read_csv(r"C:\Users\Administrator\Dropbox\Metabolism\miR.csv", encoding='utf-8')
mRNA = pd.read_csv(r"C:\Users\Administrator\Dropbox\Metabolism\mRNA.csv", encoding='utf-8')
output_file = (r"C:\Users\Administrator\Dropbox\Metabolism\results.csv")

In [72]:
df_merged_mRNA = pd.merge(mRNA, clinical_information, on="ID", how="inner")

In [73]:
df_merged_mRNA

,ID,ABAT,ABCC6P2,ACSM5,ANGPTL4,ANXA1,AQP4,AXL,BEX4,CBX5,...,histology,stage\n\n11-Ia\n12-Ib\n20-II \n21-IIa \n22-IIb\n30-III \n31-IIIa \n32-IIIb\n40-IV,status_recurrence,date_recurrence,"FU status\n\n0=alive without ds \n1=alive with recurren ds, \n2=dead without ds \n3=dead d/t recurrent ds \n4=dead, unknown \n5= FU loss",date of death or last follow up,OS,OS time,RFS,RFS time
0,BC1,58.09,460.40,34.42,64.54,3622.94,922.95,1131.63,522.79,733.62,...,1.0,11.0,0.0,NaN,0.0,2016-06-07,0.0,2421.0,0.0,2421.0
1,BC10,15.94,119.15,3.36,51.19,1837.64,139.29,139.29,192.99,256.77,...,1.0,31.0,0.0,NaN,0.0,2018-07-20,0.0,2690.0,0.0,2690.0
2,BC103,42.49,102.76,10.87,60.27,2143.06,342.85,342.85,297.40,342.85,...,1.0,11.0,0.0,NaN,0.0,2019-09-16,0.0,1152.0,0.0,1152.0
3,BC106,638.79,3311.23,21.00,75.26,5997.66,1121.83,1121.83,1100.83,1211.08,...,1.0,11.0,0.0,NaN,0.0,2019-09-30,0.0,1131.0,0.0,1131.0
4,BC107,152.55,1422.69,36.48,59.69,12717.99,1489.02,1489.02,994.89,1435.96,...,1.0,11.0,0.0,NaN,0.0,2019-09-23,0.0,1118.0,0.0,1118.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
287,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
288,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
289,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
290,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
291,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [74]:
df_merged_mRNA = df_merged_mRNA.rename(columns={"'stage\n\n11-Ia\n12-Ib\n20-II               \n21-IIa \n22-IIb\n30-III                  \n31-IIIa \n32-IIIb\n40-IV":"stage"}, inplace=True)

In [80]:
df_describe.to_csv("describe_mRNA.csv", mode="w")

NameError: name 'df_describe' is not defined

In [93]:
df_merged_mRNA.index

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            282, 283, 284, 285, 286, 287, 288, 289, 290, 291],
           dtype='int64', length=292)

In [79]:
df_merged_mRNA.columns[0:100]

AttributeError: 'NoneType' object has no attribute 'columns'

In [86]:
np.corrcoef(df_merged_mRNA["ABCC6P2"], df_merged_mRNA["PFKP"])

array([[nan, nan],
       [nan, nan]])

In [91]:
np.corrcoef(df_merged_mRNA["ABCC6P2"].dropna(), df_merged_mRNA["OS time"].dropna())

array([[ 1.        , -0.01889356],
       [-0.01889356,  1.        ]])

In [92]:
np.corrcoef(df_merged_mRNA["ABAT"].dropna(), df_merged_mRNA["OS time"].dropna())

array([[ 1.        , -0.08632549],
       [-0.08632549,  1.        ]])

In [96]:
np.corrcoef(df_merged_mRNA["ACSM5"].dropna(), df_merged_mRNA["OS time"].dropna())

array([[1.        , 0.01887212],
       [0.01887212, 1.        ]])

In [97]:
np.corrcoef(df_merged_mRNA["ANGPTL4"].dropna(), df_merged_mRNA["OS time"].dropna())

array([[ 1.        , -0.05731205],
       [-0.05731205,  1.        ]])

In [111]:
for g in df_merged_mRNA.columns:
    np.corrcoef(df_merged_mRNA[g].dropna(), df_merged_mRNA["OS time"].dropna())

TypeError: unsupported operand type(s) for /: 'str' and 'int'

clmn

In [125]:
all(isinstance(x,str) for x in clmn)

True

In [134]:
clmn=list(df_merged_mRNA.iloc[:,1:-16])
for i in clmn: 
    print(i)
    print(np.corrcoef(df_merged_mRNA[i].dropna(), df_merged_mRNA["OS time"].dropna()))

ABAT
[[ 1.         -0.08632549]
 [-0.08632549  1.        ]]
ABCC6P2
[[ 1.         -0.01889356]
 [-0.01889356  1.        ]]
ACSM5
[[1.         0.01887212]
 [0.01887212 1.        ]]
ANGPTL4
[[ 1.         -0.05731205]
 [-0.05731205  1.        ]]
ANXA1
[[1.         0.03874173]
 [0.03874173 1.        ]]
AQP4
[[1.         0.05504605]
 [0.05504605 1.        ]]
AXL
[[1.        0.0560972]
 [0.0560972 1.       ]]
BEX4
[[1.         0.11017867]
 [0.11017867 1.        ]]
CBX5
[[1.         0.05555733]
 [0.05555733 1.        ]]
CCNB1
[[ 1.         -0.22161366]
 [-0.22161366  1.        ]]
CD109
[[ 1.         -0.13194518]
 [-0.13194518  1.        ]]
CD274
[[ 1.         -0.00245287]
 [-0.00245287  1.        ]]
CECR1
[[1.         0.19749634]
 [0.19749634 1.        ]]
CLIC6
[[ 1.         -0.06439435]
 [-0.06439435  1.        ]]
CNTN3
[[1.         0.16728189]
 [0.16728189 1.        ]]
CYP4B1
[[1.         0.14389761]
 [0.14389761 1.        ]]
DEPDC1
[[ 1.         -0.11587054]
 [-0.11587054  1.        ]]
DKK1
[[ 1.         -0.14555684]
 [-0.14555684  1.        ]]
DNAJC28
[[ 1.         -0.06349719]
 [-0.06349719  1.        ]]
FABP4
[[1.        0.0977183]
 [0.0977183 1.       ]]
FBXO16
[[ 1.         -0.02626904]
 [-0.02626904  1.        ]]
GFPT2
[[1.        0.0410132]
 [0.0410132 1.       ]]
GGT6
[[ 1.         -0.01964664]
 [-0.01964664  1.        ]]
GNG7
[[1.         0.03335202]
 [0.03335202 1.        ]]
GNMT
[[ 1.         -0.04050486]
 [-0.04050486  1.        ]]
GPC6
[[ 1.         -0.05660456]
 [-0.05660456  1.        ]]
IFNG
[[ 1.         -0.06894981]
 [-0.06894981  1.        ]]
IRX5
[[ 1.         -0.06514997]
 [-0.06514997  1.        ]]
LDLRAD3
[[1.         0.02951666]
 [0.02951666 1.        ]]
LYPD3
[[ 1.         -0.14630612]
 [-0.14630612  1.        ]]
MAP1LC3B
[[1.         0.05916995]
 [0.05916995 1.        ]]
MERTK
[[1.        0.1511048]
 [0.1511048 1.       ]]
MTL5
[[ 1.         -0.03729955]
 [-0.03729955  1.        ]]
NCKAP5
[[1.         0.01527026]
 [0.01527026 1.        ]]
P2RY13
[[1.         0.00929121]
 [0.00929121 1.        ]]
PDE6B
[[ 1.         -0.04799244]
 [-0.04799244  1.        ]]
PFKP
[[ 1.        -0.1494933]
 [-0.1494933  1.       ]]
POLR2H
[[ 1.         -0.03315411]
 [-0.03315411  1.        ]]
PPM1M
[[1.         0.22987408]
 [0.22987408 1.        ]]
PTPRH
[[ 1.         -0.07317465]
 [-0.07317465  1.        ]]
RAB27B
[[ 1.         -0.09645646]
 [-0.09645646  1.        ]]
RPL13AP17
[[ 1.         -0.05662929]
 [-0.05662929  1.        ]]
RPS6KL1
[[ 1.00000000e+00 -2.03394569e-04]
 [-2.03394569e-04  1.00000000e+00]]
SFTA3
[[ 1.        -0.0012966]
 [-0.0012966  1.       ]]
SFTPC
[[1.         0.05641169]
 [0.05641169 1.        ]]
SLC16A1
[[ 1.         -0.06015246]
 [-0.06015246  1.        ]]
SLC2A1
[[ 1.         -0.04126858]
 [-0.04126858  1.        ]]
SNN
[[1.         0.19122384]
 [0.19122384 1.        ]]
TLE1
[[1.         0.00734584]
 [0.00734584 1.        ]]
TM4SF1
[[ 1.         -0.06470748]
 [-0.06470748  1.        ]]
TOP2A
[[ 1.         -0.14466675]
 [-0.14466675  1.        ]]
TRIM27
[[1.         0.04742974]
 [0.04742974 1.        ]]
GAPDH
[[1.         0.04311157]
 [0.04311157 1.        ]]
HPRT1
[[ 1.         -0.07526104]
 [-0.07526104  1.        ]]
TBP
[[1.         0.03374506]
 [0.03374506 1.        ]]

In [135]:
corr = open('corr.txt','a')

In [136]:
clmn=list(df_merged_mRNA.iloc[:,1:-16])
for i in clmn: 
    print(i)
    print(np.corrcoef(df_merged_mRNA[i].dropna(), df_merged_mRNA["RFS time"].dropna()))

ABAT
[[ 1.         -0.03686075]
 [-0.03686075  1.        ]]
ABCC6P2
[[1.00000000e+00 9.68979271e-04]
 [9.68979271e-04 1.00000000e+00]]
ACSM5
[[1.         0.05046236]
 [0.05046236 1.        ]]
ANGPTL4
[[ 1.         -0.07913701]
 [-0.07913701  1.        ]]
ANXA1
[[1.         0.08432959]
 [0.08432959 1.        ]]
AQP4
[[1.         0.08164728]
 [0.08164728 1.        ]]
AXL
[[1.         0.08278233]
 [0.08278233 1.        ]]
BEX4
[[1.         0.10569909]
 [0.10569909 1.        ]]
CBX5
[[1.         0.06981145]
 [0.06981145 1.        ]]
CCNB1
[[ 1.         -0.17910281]
 [-0.17910281  1.        ]]
CD109
[[ 1.         -0.07220944]
 [-0.07220944  1.        ]]
CD274
[[1.         0.02352734]
 [0.02352734 1.        ]]
CECR1
[[1.         0.19524435]
 [0.19524435 1.        ]]
CLIC6
[[ 1.         -0.08232189]
 [-0.08232189  1.        ]]
CNTN3
[[1.         0.16358579]
 [0.16358579 1.        ]]
CYP4B1
[[1.         0.12983529]
 [0.12983529 1.        ]]
DEPDC1
[[ 1.         -0.09034857]
 [-0.09034857  1.        ]]
DKK1
[[ 1.         -0.11318522]
 [-0.11318522  1.        ]]
DNAJC28
[[ 1.         -0.03718129]
 [-0.03718129  1.        ]]
FABP4
[[1.         0.12204762]
 [0.12204762 1.        ]]
FBXO16
[[1.         0.02256833]
 [0.02256833 1.        ]]
GFPT2
[[1.         0.05391057]
 [0.05391057 1.        ]]
GGT6
[[1.         0.04333862]
 [0.04333862 1.        ]]
GNG7
[[1.         0.07563998]
 [0.07563998 1.        ]]
GNMT
[[ 1.         -0.01221815]
 [-0.01221815  1.        ]]
GPC6
[[ 1.         -0.05204538]
 [-0.05204538  1.        ]]
IFNG
[[ 1.         -0.04938573]
 [-0.04938573  1.        ]]
IRX5
[[ 1.         -0.02439152]
 [-0.02439152  1.        ]]
LDLRAD3
[[1.         0.05970189]
 [0.05970189 1.        ]]
LYPD3
[[ 1.         -0.11975121]
 [-0.11975121  1.        ]]
MAP1LC3B
[[1.         0.09254647]
 [0.09254647 1.        ]]
MERTK
[[1.         0.14836183]
 [0.14836183 1.        ]]
MTL5
[[ 1.         -0.01921097]
 [-0.01921097  1.        ]]
NCKAP5
[[1.         0.03939647]
 [0.03939647 1.        ]]
P2RY13
[[1.         0.01625637]
 [0.01625637 1.        ]]
PDE6B
[[ 1.        -0.0265443]
 [-0.0265443  1.       ]]
PFKP
[[ 1.         -0.08432703]
 [-0.08432703  1.        ]]
POLR2H
[[ 1.         -0.01039949]
 [-0.01039949  1.        ]]
PPM1M
[[1.         0.21931173]
 [0.21931173 1.        ]]
PTPRH
[[ 1.         -0.05100587]
 [-0.05100587  1.        ]]
RAB27B
[[ 1.        -0.0537144]
 [-0.0537144  1.       ]]
RPL13AP17
[[ 1.         -0.03818169]
 [-0.03818169  1.        ]]
RPS6KL1
[[ 1.         -0.00603516]
 [-0.00603516  1.        ]]
SFTA3
[[1.         0.04331137]
 [0.04331137 1.        ]]
SFTPC
[[1.         0.08701205]
 [0.08701205 1.        ]]
SLC16A1
[[ 1.         -0.02263392]
 [-0.02263392  1.        ]]
SLC2A1
[[ 1.         -0.02535486]
 [-0.02535486  1.        ]]
SNN
[[1.         0.19739836]
 [0.19739836 1.        ]]
TLE1
[[1.         0.04189014]
 [0.04189014 1.        ]]
TM4SF1
[[ 1.         -0.00106648]
 [-0.00106648  1.        ]]
TOP2A
[[ 1.         -0.12181942]
 [-0.12181942  1.        ]]
TRIM27
[[1.         0.06755516]
 [0.06755516 1.        ]]
GAPDH
[[1.         0.02780971]
 [0.02780971 1.        ]]
HPRT1
[[ 1.         -0.06703712]
 [-0.06703712  1.        ]]
TBP
[[1.        0.0616235]
 [0.0616235 1.       ]]

In [137]:
df_merged_mRNA.isnull().sum() # 모두가 100개의 missing 임

ID                                 100
ABAT                               100
ABCC6P2                            100
ACSM5                              100
ANGPTL4                            100
                                  ...
date of death or last follow up    100
OS                                 100
OS time                            100
RFS                                100
RFS time                           100
Length: 72, dtype: int64

In [5]:
df_merged_mRNA.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 292 entries, 0 to 291
Data columns (total 72 columns):
 #   Column                                                                                                                                                                                                                                                                      Non-Null Count  Dtype
---  ------                                                                                                                                                                                                                                                                      --------------  -----
 0   ID                                                                                                                                                                                                                                                                          192 non-null    object
 1   ABAT                                                                                                                                                                                                                                                                        192 non-null    float64
 2   ABCC6P2                                                                                                                                                                                                                                                                     192 non-null    float64
 3   ACSM5                                                                                                                                                                                                                                                                       192 non-null    float64
 4   ANGPTL4                                                                                                                                                                                                                                                                     192 non-null    float64
 5   ANXA1                                                                                                                                                                                                                                                                       192 non-null    float64
 6   AQP4                                                                                                                                                                                                                                                                        192 non-null    float64
 7   AXL                                                                                                                                                                                                                                                                         192 non-null    float64
 8   BEX4                                                                                                                                                                                                                                                                        192 non-null    float64
 9   CBX5                                                                                                                                                                                                                                                                        192 non-null    float64
 10  CCNB1                                                                                                                                                                                                                                                                       192 non-null    float64
 11  CD109                                                                                                                                                                                                                                                                       192 non-null    float64
 12  CD274                                                                                                                                                                                                                                                                       192 non-null    float64
 13  CECR1                                                                                                                                                                                                                                                                       192 non-null    float64
 14  CLIC6                                                                                                                                                                                                                                                                       192 non-null    float64
 15  CNTN3                                                                                                                                                                                                                                                                       192 non-null    float64
 16  CYP4B1                                                                                                                                                                                                                                                                      192 non-null    float64
 17  DEPDC1                                                                                                                                                                                                                                                                      192 non-null    float64
 18  DKK1                                                                                                                                                                                                                                                                        192 non-null    float64
 19  DNAJC28                                                                                                                                                                                                                                                                     192 non-null    float64
 20  FABP4                                                                                                                                                                                                                                                                       192 non-null    float64
 21  FBXO16                                                                                                                                                                                                                                                                      192 non-null    float64
 22  GFPT2                                                                                                                                                                                                                                                                       192 non-null    float64
 23  GGT6                                                                                                                                                                                                                                                                        192 non-null    float64
 24  GNG7                                                                                                                                                                                                                                                                        192 non-null    float64
 25  GNMT                                                                                                                                                                                                                                                                        192 non-null    float64
 26  GPC6                                                                                                                                                                                                                                                                        192 non-null    float64
 27  IFNG                                                                                                                                                                                                                                                                        192 non-null    float64
 28  IRX5                                                                                                                                                                                                                                                                        192 non-null    float64
 29  LDLRAD3                                                                                                                                                                                                                                                                     192 non-null    float64
 30  LYPD3                                                                                                                                                                                                                                                                       192 non-null    float64
 31  MAP1LC3B                                                                                                                                                                                                                                                                    192 non-null    float64
 32  MERTK                                                                                                                                                                                                                                                                       192 non-null    float64
 33  MTL5                                                                                                                                                                                                                                                                        192 non-null    float64
 34  NCKAP5                                                                                                                                                                                                                                                                      192 non-null    float64
 35  P2RY13                                                                                                                                                                                                                                                                      192 non-null    float64
 36  PDE6B                                                                                                                                                                                                                                                                       192 non-null    float64
 37  PFKP                                                                                                                                                                                                                                                                        192 non-null    float64
 38  POLR2H                                                                                                                                                                                                                                                                      192 non-null    float64
 39  PPM1M                                                                                                                                                                                                                                                                       192 non-null    float64
 40  PTPRH                                                                                                                                                                                                                                                                       192 non-null    float64
 41  RAB27B                                                                                                                                                                                                                                                                      192 non-null    float64
 42  RPL13AP17                                                                                                                                                                                                                                                                   192 non-null    float64
 43  RPS6KL1                                                                                                                                                                                                                                                                     192 non-null    float64
 44  SFTA3                                                                                                                                                                                                                                                                       192 non-null    float64
 45  SFTPC                                                                                                                                                                                                                                                                       192 non-null    float64
 46  SLC16A1                                                                                                                                                                                                                                                                     192 non-null    float64
 47  SLC2A1                                                                                                                                                                                                                                                                      192 non-null    float64
 48  SNN                                                                                                                                                                                                                                                                         192 non-null    float64
 49  TLE1                                                                                                                                                                                                                                                                        192 non-null    float64
 50  TM4SF1                                                                                                                                                                                                                                                                      192 non-null    float64
 51  TOP2A                                                                                                                                                                                                                                                                       192 non-null    float64
 52  TRIM27                                                                                                                                                                                                                                                                      192 non-null    float64
 53  GAPDH                                                                                                                                                                                                                                                                       192 non-null    float64
 54  HPRT1                                                                                                                                                                                                                                                                       192 non-null    float64
 55  TBP                                                                                                                                                                                                                                                                         192 non-null    float64
 56  pathology number                                                                                                                                                                                                                                                            191 non-null    object
 57  hospital ID                                                                                                                                                                                                                                                                 192 non-null    object
 58  birth date                                                                                                                                                                                                                                                                  192 non-null    object
 59  sex                                                                                                                                                                                                                                                                         192 non-null    object
 60  age                                                                                                                                                                                                                                                                         189 non-null    float64
 61  date_operation                                                                                                                                                                                                                                                              192 non-null    object
 62  histology                                                                                                                                                                                                                                                                   192 non-null    float64
 63  stage

11-Ia
12-Ib
20-II
21-IIa
22-IIb
30-III
31-IIIa
32-IIIb
40-IV                                                                                                                                                                      172 non-null    float64
 64  status_recurrence                                                                                                                                                                                                                                                           191 non-null    float64

In [21]:
df_merged_mRNA["ABAT"] = df_merged_mRNA["ABAT"].astype(float)
df_merged_mRNA["age"] = df_merged_mRNA["age"].astype(float)

In [23]:
df_merged_mRNA.columns

Index(['ID', 'ABAT', 'ABCC6P2', 'ACSM5', 'ANGPTL4', 'ANXA1', 'AQP4', 'AXL',
       'BEX4', 'CBX5', 'CCNB1', 'CD109', 'CD274', 'CECR1', 'CLIC6', 'CNTN3',
       'CYP4B1', 'DEPDC1', 'DKK1', 'DNAJC28', 'FABP4', 'FBXO16', 'GFPT2',
       'GGT6', 'GNG7', 'GNMT', 'GPC6', 'IFNG', 'IRX5', 'LDLRAD3', 'LYPD3',
       'MAP1LC3B', 'MERTK', 'MTL5', 'NCKAP5', 'P2RY13', 'PDE6B', 'PFKP',
       'POLR2H', 'PPM1M', 'PTPRH', 'RAB27B', 'RPL13AP17', 'RPS6KL1', 'SFTA3',
       'SFTPC', 'SLC16A1', 'SLC2A1', 'SNN', 'TLE1', 'TM4SF1', 'TOP2A',
       'TRIM27', 'GAPDH', 'HPRT1', 'TBP', 'pathology number', 'hospital ID',
       'birth date', 'sex ', 'age', 'date_operation', 'histology',
       'stage\n\n11-Ia\n12-Ib\n20-II               \n21-IIa \n22-IIb\n30-III                  \n31-IIIa \n32-IIIb\n40-IV',
       'status_recurrence', 'date_recurrence',
       'FU status\n\n0=alive without ds                     \n1=alive with recurren ds,                                  \n2=dead without ds                                   \n3=dead d/t recurrent ds                        \n4=dead, unknown                            \n5= FU loss',
       'date of death or last follow up', 'OS', 'OS time', 'RFS', 'RFS time'],
      dtype='object')

In [31]:
df_merged_mRNA.rename(columns={"stage\n\n11-Ia\n12-Ib\n20-II               \n21-IIa \n22-IIb\n30-III                  \n31-IIIa \n32-IIIb\n40-I":"stage"}, inplace = True)

In [147]:
missing_df = df_merged_mRNA.isnull().sum().reset_index

In [149]:
print(missing_df)

<bound method Series.reset_index of ID                                 100
ABAT                               100
ABCC6P2                            100
ACSM5                              100
ANGPTL4                            100
                                  ...
date of death or last follow up    100
OS                                 100
OS time                            100
RFS                                100
RFS time                           100
Length: 72, dtype: int64>

In [148]:
missing_df.columns = ["column","count"]

AttributeError: 'method' object has no attribute 'columns'

In [ ]:
missing_df.columns = ["column","count"]
missing_df["ratio"] = missing_df["count"]/df_merged_mRNA.shape[0]
mssing_df.loc[missing_df["ratio"]!=0]

In [142]:
df_merged_mRNA.shape[0]

292

In [143]:
df_merged_mRNA.shape[1]

72

In [16]:
df_merged_mRNA.groupby('stage').median()

KeyError: 'stage'